# Please allow indie developers to impelement Facebook Login without business verification

> Issue #28667 - Created on 3/28/2024

> Original URL: https://github.com/facebook/react/issues/28667

## Description

Some support pages link to an "individual verification" method for using Facebook Login in apps but i can't seem to find it now. My meta console says I have to verify my business. Is this a bug? Why would anyone HAVE TO own a business to implement facebook login? Can you clerify if this is a bug or Meta just don't like indie developers anymore?
